.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-style-6 input[type="text"],
.form-style-6 select
{
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    border: 1px solid #b8b8b8
  }

  .form-style-6 select{
    color: #b8b8b8,
  }

.form-group{
	padding-bottom: 1em;
}
.form-style-6 input[type="submit"],
.form-style-6 button
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.coded_by {
  text-align: center;
  background-color: #36d1dc;
  color: white;
  padding: 1rem;
}
.respuesta{
    height: 200px;
    text-align: center;
    line-height: 200px;

}